@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Usuários</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <main class="container mt-5">
        <section class="row" aria-labelledby="userManagementTitle">
            <h1 id="userManagementTitle" class="col-12">Sistema de Gerenciamento de Usuários</h1>
            <p class="lead col-12">Gerencie seus usuários de forma eficiente, controlando acessos, permissões e informações de perfil.</p>
            <p class="col-12"><a href="https://seusistema.com" class="btn btn-primary btn-md">Saiba mais &raquo;</a></p>
        </section>

        <div class="row mt-4">
            <section class="col-md-4" aria-labelledby="addUserTitle">
                <h2 id="addUserTitle">Cadastro de Usuários</h2>
                <p>Crie novos perfis de usuário e defina suas permissões e acessos ao sistema.</p>
                <p><a class="btn btn-outline-dark" href="https://seusistema.com/adicionar-usuario">Adicionar &raquo;</a></p>
            </section>

            <section class="col-md-4" aria-labelledby="viewUsersTitle">
                <h2 id="viewUsersTitle">Cadastro de Colaboradores</h2>
                <p>Veja todos os colaboradoes cadastrados no sistema e suas informações detalhadas.</p>
                <p><a class="btn btn-outline-dark" href="https://seusistema.com/visualizar-usuarios">Visualizar &raquo;</a></p>
            </section>

            <section class="col-md-4" aria-labelledby="editUserTitle">
                <h2 id="editUserTitle">Cadastro de Unidades</h2>
                <p>Atualize as informações de unidades existentes e ajuste suas permissões conforme necessário.</p>
                <p><a class="btn btn-outline-dark" href="https://seusistema.com/editar-usuario">Editar &raquo;</a></p>
            </section>
        </div>

        
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
