@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Usuários</title>
</head>
<body>
    <main class="container mt-5">
        <section class="row" aria-labelledby="userManagementTitle">
            <h1 id="userManagementTitle" class="col-12">Sistema de Gestão de Colaboradores e Unidades </h1>
            <p class="lead col-12">Gerencie seus usuários de forma eficiente, controlando acessos, permissões e informações de perfil.</p>
          
        </section>

        <div class="row mt-4">
            <section class="col-md-4" aria-labelledby="addUserTitle">
                <h2 id="addUserTitle">Cadastro de Usuários</h2>
                <p>Crie novos perfis de usuário e defina suas permissões e acessos ao sistema.</p>
                <div class="mb-3 col-12">
                    <a href="@Url.Action("Index", "Users")" class="btn btn-primary btn-lg">
                        <i class="fas fa-users"></i> Gestão de Usuários
                    </a>
                </div>
            </section>

            <section class="col-md-4" aria-labelledby="viewUsersTitle">
                <h2 id="viewUsersTitle">Cadastro de Colaboradores</h2>
                <p>Veja todos os colaboradoes cadastrados no sistema e suas informações detalhadas.</p>
                <div class="mb-3 col-12">
                    <a href="@Url.Action("Index", "Collaborators")" class="btn btn-primary btn-lg">
                        <i class="fas fa-users"></i> Gestão de Colaboradores
                    </a>
                </div>
            </section>

            <section class="col-md-4" aria-labelledby="editUserTitle">
                <h2 id="editUserTitle">Cadastro de Unidades</h2>
                <p>Atualize as informações de unidades existentes e ajuste suas permissões conforme necessário.</p>
                <div class="mb-3 col-12">
                    <a href="@Url.Action("Index", "Units")" class="btn btn-primary btn-lg">
                        <i class="fas fa-users"></i> Gestão de Unidades
                    </a>
                </div>
            </section>
        </div>

        
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
